{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if principal_postagem_destacada %}
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">{{ principal_postagem_destacada.titulo }}</h1>
                <p class="lead my-3">{{ principal_postagem_destacada.conteudo|truncatechars:200 | safe }}</p>
                <p class="lead mb-0">
                    <a href="{% url "detalhar_postagem" principal_postagem_destacada.slug %}"
                       class="text-body-emphasis fw-bold">Continuar leitura...</a>
                </p>
            </div>
        </div>
    {% endif %}
    <div class="row mb-2">
        {% for postagem in postagens_destacadas %}
            <div class="{% if postagens_destacadas|length > 1 %}col-md-6{% else %}col-md-12{% endif %}">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">{{ postagem.categoria.all|join:', ' }}</strong>
                        <h3 class="mb-0">{{ postagem.titulo }}</h3>
                        <div class="mb-1 text-body-secondary">{{ postagem.data_publicacao | date:"d, M" }}</div>
                        <p class="card-text mb-auto">{{ postagem.conteudo | safe | linebreaksbr }}</p>
                        <a href="{% url "detalhar_postagem" postagem.slug %}" class="icon-link">Continuar leitura</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% if postagem.imagem %}
                            <img src="{{ postagem.imagem.url }}"
                                 alt="{{ postagem.titulo }}"
                                 class="bd-placeholder-img"
                                 width="200"
                                 height="250" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-8">
            {% for postagem in postagens_paginadas %}
                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">{{ postagem.titulo }}</h2>
                    <p class="blog-post-meta">
                        {{ postagem.data_publicacao | date:"D, d M Y" }} por <a href="{% url 'detalhar_autor' postagem.autor.id %}">{{ postagem.autor.usuario.username }}</a>
                    </p>
                    <p>{{ postagem.conteudo|truncatechars:600 | safe }}</p>
                    <a href="{% url "detalhar_postagem" postagem.slug %}" class="icon-link">Continuar leitura</a>
                </article>
            {% endfor %}
            {% include "partials/paginacao.html" %}
        </div>
        <div class="col-md-4">
            <div class="position-sticky">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Sobre</h4>
                    <p class="mb-0">
                        Esse site foi feito por <a href="mailto:ruan.gustavo@escolar.ifrn.edu.br">Ruan Gustavo</a> e <a href="mailto:marcos.fabio@escolar.ifrn.edu.br">Marcos Fábio</a> para as disciplinas de Programação para Internet, Projeto e Desenvolvimento de Software e Fundamentos de Sistemas Operacionais e Sistemas Operacionais de Redes.
                    </p>
                </div>
                {% include "partials/postagens_recentes.html" %}
                {% include "partials/postagens_por_data.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
