{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">{{ principal_postagem_destacada.titulo }}</h1>
            <p class="lead my-3">{{ principal_postagem_destacada.conteudo | safe | linebreaksbr }}</p>
            <p class="lead mb-0">
                <a href="#" class="text-body-emphasis fw-bold">Continuar leitura...</a>
            </p>
        </div>
    </div>
    <div class="row mb-2">
        {% for postagem in postagens_destacadas %}
            <div class="{% if postagens_destacadas|length > 1 %}col-md-6{% else %}col-md-12{% endif %}">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">{{ postagem.categoria.all|join:', ' }}</strong>
                        <h3 class="mb-0">{{ postagem.titulo }}</h3>
                        <div class="mb-1 text-body-secondary">{{ postagem.data_publicacao | date:"d, M" }}</div>
                        <p class="card-text mb-auto">{{ postagem.conteudo | safe | linebreaksbr }}</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continuar leitura
                            <svg class="bi">
                                <use xlink:href="#chevron-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% if postagem.imagem.url %}
                            <img src="{{ postagem.imagem.url }}"
                                 alt="{{ postagem.titulo }}"
                                 class="bd-placeholder-img"
                                 width="200"
                                 height="250" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            {% for postagem in postagens %}
                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">{{ postagem.titulo }}</h2>
                    <p class="blog-post-meta">
                        {{ postagem.data_publicacao | date:"D, d M Y" }} por <a href="#">{{ postagem.autor.usuario.username }}</a>
                    </p>
                    <p>{{ postagem.conteudo | safe | linebreaks }}</p>
                </article>
            {% endfor %}
            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Anteriores</a>
                <a class="btn btn-outline-secondary rounded-pill disabled"
                   aria-disabled="true">Atualizados</a>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="position-sticky">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Sobre</h4>
                    <p class="mb-0">
                        Esse site foi feito por <a href="mailto:ruan.gustavo@escolar.ifrn.edu.br">Ruan Gustavo</a> e <a href="mailto:marcos.fabio@escolar.ifrn.edu.br">Marcos Fábio</a> para as disciplinas de Programação para Internet, Projeto e Desenvolvimento de Software e Fundamentos de Sistemas Operacionais e Sistemas Operacionais de Redes.
                    </p>
                </div>
                <div>
                    <h4 class="fst-italic">Postagens recentes</h4>
                    <ul class="list-unstyled">
                        {% for postagem in postagens_recentes %}
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                   href="#">
                                    {% if postagem.imagem.url %}
                                        <img src="{{ postagem.imagem.url }}"
                                             alt="{{ postagem.titulo }}"
                                             class="bd-placeholder-img"
                                             width="100"
                                             height="100" />
                                    {% endif %}
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">{{ postagem.titulo }}</h6>
                                        <small class="text-body-secondary">{{ postagem.data_publicacao | date:"F j, Y" }}</small>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h4 class="fst-italic">Arquivos</h4>
                    <ol class="list-unstyled mb-0">
                        {% for data in data_postagens_recentes %}
                            <li>
                                <a href="{% url "postagens_por_data" mes=data.month ano=data.year %}">{{ data|date:"F Y" }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
