{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row g-5">
        <div class="col-md-8">
            {% for postagem in postagens %}
                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">{{ postagem.titulo }}</h2>
                    <p class="blog-post-meta">
                        {{ postagem.data_publicacao | date:"D, d M Y" }} por <a href="#">{{ postagem.autor.usuario.username }}</a>
                    </p>
                    <p>{{ postagem.conteudo | safe | linebreaks }}</p>
                </article>
            {% empty %}
                <p>
                    Nenhuma postagem encontrada. Clique <a href="{% url "pagina_inicial" %}">aqui</a> para voltar para a página inicial.
                </p>
            {% endfor %}
            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Anteriores</a>
                <a class="btn btn-outline-secondary rounded-pill disabled"
                   aria-disabled="true">Atualizados</a>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="position-sticky">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Sobre</h4>
                    <p class="mb-0">
                        Esse site foi feito por <a href="mailto:ruan.gustavo@escolar.ifrn.edu.br">Ruan Gustavo</a> e <a href="mailto:marcos.fabio@escolar.ifrn.edu.br">Marcos Fábio</a> para as disciplinas de Programação para Internet, Projeto e Desenvolvimento de Software e Fundamentos de Sistemas Operacionais e Sistemas Operacionais de Redes.
                    </p>
                </div>
                {% include "partials/postagens_recentes.html" %}
                <div>
                    <h4 class="fst-italic">Arquivos</h4>
                    <ol class="list-unstyled mb-0">
                        {% for data in data_postagens_recentes %}
                            <li>
                                <a href="{% url "postagens_por_data" mes=data.month ano=data.year %}">{{ data|date:"F Y" }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
