{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Detalhes do autor</h1>
        <p class="mb-0">{{ autor.usuario.nome }} {{ autor.usuario.sobrenome }}</p>
        <p class="mb-0">
            O usuário <strong>{{ autor.usuario.username }}</strong> tem <strong>{{ postagens|length }}</strong> postagem{{ postagens|pluralize:"ns" }}
        </p>
    </div>
    <div class="container">
        <h1>Postagens do Autor</h1>
        {% for postagem in postagens %}
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">{{ postagem }}</h2>
                <p class="blog-post-meta">
                    {{ postagem.data_publicacao | date:"D, d M Y" }} por <a href="{% url 'detalhar_autor' postagem.autor.id %}">{{ postagem.autor.usuario.username }}</a>
                </p>
                {% if postagem.imagem %}
                    <img src="{{ postagem.imagem.url }}"
                         class="img-fluid"
                         width="600"
                         height="400"
                         alt="Imagem da notícia {{ postagem.titulo }}">
                {% endif %}
                <p>{{ postagem.conteudo|truncatechars:600 | safe }}</p>
                <a href="{% url "detalhar_postagem" postagem.slug %}" class="icon-link">Continuar leitura</a>
            </article>
        {% empty %}
            <p>
                Nenhuma postagem encontrada. Clique <a href="{% url "pagina_inicial" %}">aqui</a> para voltar para a página inicial.
            </p>
        {% endfor %}
        {% include "partials/paginacao.html" %}
    </div>
{% endblock content %}
