{% load static %}
<header class="border-bottom lh-1 py-3">
    <div class="row flex-column flex-md-row flex-nowrap justify-content-between align-items-center">
        <div class="col-0 col-lg-4 d-none d-lg-flex gap-3">
            <div class="d-flex align-items-center gap-2">
                <i class="ph ph-buildings icon-size"></i>
                <span id="cidade">Carregando...</span>
            </div>
            <div class="d-flex align-items-center gap-2">
                <i class="ph ph-cloud-sun icon-size"></i>
                <span id="temperatura">Carregando...</span>
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <a class="blog-header-logo text-body-emphasis text-decoration-none"
               href="{% url "pagina_inicial" %}">Portal de Notícias</a>
        </div>
        <div class="col-6 col-lg-4 d-flex flex-column flex-md-row align-items-md-center justify-content-md-end gap-3 mt-2 mt-md-0">
            <a href="{% url 'criar_ou_editar_postagem' %}"
               class="text-reset text-decoration-none d-flex align-items-center gap-2"
               data-bs-toggle="tooltip"
               data-bs-title="Criar postagem">
                <i class="ph ph-file-text icon-size"></i>
                <span class="d-block d-md-none">Criar postagem</span>
            </a>
            {% include "partials/theme_selector.html" %}
            <form action="{% url "pesquisar_postagens" %}">
                <div class="d-flex align-items-center">
                    <input id="search-input"
                           class="form-control"
                           type="text"
                           placeholder="Pesquisar..."
                           name="q">
                    <a id="search-icon"
                       class="text-reset text-decoration-none d-flex align-items-center gap-2"
                       aria-label="Search"
                       data-bs-toggle="tooltip"
                       data-bs-title="Pesquisar">
                        <i class="ph ph-magnifying-glass icon-size"></i>
                        <span class="d-block d-md-none">Pesquisar</span>
                    </a>
                </div>
            </form>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn link-secondary dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown">Minha conta</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url "atualizar_perfil" %}" class="dropdown-item">Atualizar perfil</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="{% url "pagina_logout" %}" class="dropdown-item text-danger">Logout</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{% url "pagina_login" %}">Login</a>
            {% endif %}
        </div>
    </div>
</header>
