<nav class="blog-pagination" aria-label="Pagination">
    {% if postagens_paginadas.has_previous %}
        <a class="btn btn-outline-secondary rounded-pill"
           href="?page={{ postagens_paginadas.previous_page_number }}">Anterior</a>
    {% endif %}
    {% for num in postagens_paginadas.paginator.page_range %}
        {% if postagens_paginadas.number == num %}
            <a class="btn btn-outline-primary rounded-pill active"
               href="?page={{ num }}">{{ num }}</a>
        {% else %}
            <a class="btn btn-outline-primary rounded-pill" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if postagens_paginadas.has_next %}
        <a class="btn btn-outline-primary rounded-pill"
           href="?page={{ postagens_paginadas.next_page_number }}">Próximo</a>
    {% else %}
        <a class="btn btn-outline-primary rounded-pill disabled" href="#">Próximo</a>
    {% endif %}
</nav>
